.Inori-UI-Library{ 
    --main-color: #222222;
    --secondary-color: #1a1a1a;
    --outline-color: #404040;
    --main-control-color: #2a2a2a;
    --secondary-control-color: #1a1a1a;
    --accent-color: pink;
    --font-color: white;
    --font-stroke-color: black;
    --control-box-shadow: 0 0 0 1px black;

    /* Ignore Past Here */
    /*--control-box-shadow: -1px -1px 0 var(--font-stroke-color), 1px -1px 0 var(--font-stroke-color), -1px 1px 0 var(--font-stroke-color), 1px 1px 0 var(--font-stroke-color), -1px 0 var(--font-stroke-color), 1px 0 var(--font-stroke-color), 0 -1px var(--font-stroke-color), 0 1px var(--font-stroke-color);*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box !important;
    background: var(--secondary-color) !important;
    border: 1px solid var(--accent-color) !important;
    box-shadow: var(--control-box-shadow) !important;
    user-select: none !important;
    color: var(--font-color) !important;
    font-family: monospace !important;
    font-size: 13px !important;
    line-height: unset !important;
    text-shadow: -1px -1px 0 var(--font-stroke-color), 1px -1px 0 var(--font-stroke-color), -1px 1px 0 var(--font-stroke-color), 1px 1px 0 var(--font-stroke-color), -1px 0 var(--font-stroke-color), 1px 0 var(--font-stroke-color), 0 -1px var(--font-stroke-color), 0 1px var(--font-stroke-color) !important;
    overflow: hidden;
    position: fixed;
    z-index: 10000;
    top:10px;
    left:10px;
    transition: opacity 0.3s;
}

.hidden{
    opacity: 0 !important ;
    pointer-events: none;
}

.Inori-UI-Library ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.Inori-UI-Library ::-webkit-scrollbar:horizontal{
    height: 5px;
}

.Inori-UI-Library ::-webkit-scrollbar-corner { 
    background: var(--main-color);
  }

.Inori-UI-Library ::-webkit-scrollbar-thumb{
    background: var(--outline-color);
    border: 1px solid var(--secondary-color);
    border-radius: 100px;;
}

.Inori-UI-Library .title-bar{
    background: var(--main-color);
    border-bottom: 1px solid var(--outline-color);
    box-shadow: 0 1px black;
    padding: 2px 4px;
    z-index: 100;
}

.Inori-UI-Library label{
    word-wrap: break-word;
}
.Inori-UI-Library .controls-container{
    padding: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:4px;
    overflow-y:auto;
    
}

.Inori-UI-Library input[type="text"]{
    -webkit-appearance: none;
  	appearance:none;
  	-moz-appearance:none;
    background: var(--main-control-color);
    border: 1px solid var(--outline-color);
    box-shadow: var(--control-box-shadow);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-shadow: inherit;
    outline: none;
    padding: 2px 4px;
    border-radius: 0px;
    box-sizing: border-box;
    width:100%;
    
}

.Inori-UI-Library input[type="text"]::placeholder {
    color: var(--font-color);
}

.Inori-UI-Library input[type="text"]:hover, input[type="text"]:focus{
  box-shadow:0 0 0 1px var(--accent-color);
}

/*Checkboxes*/
.Inori-UI-Library .checkbox-container{
    display: inline-flex;
    align-content: center;
    gap:4px;
}

.Inori-UI-Library input[type="checkbox"]{
  flex: 0 0 15px;
  appearance: none;
  height: 15px;
  width: 15px;
  background: var(--secondary-control-color);
  border: 1px solid var(--outline-color);
  box-shadow: var(--control-box-shadow);
  margin: 0px;
}

.Inori-UI-Library input[type="checkbox"]:checked{
  background: var(--accent-color);
  box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 25%) inset;
}

.Inori-UI-Library input[type="checkbox"]:hover{
  box-shadow: 0 0 0 1px var(--accent-color);
}

.Inori-UI-Library button{
    background: var(--main-control-color);
    border: 1px solid var(--outline-color);
    box-shadow: var(--control-box-shadow);
    color:inherit;
    font-family:inherit;
    font-size:inherit;
    text-shadow:inherit;
}

.Inori-UI-Library button:hover{
box-shadow:0 0 0 1px var(--accent-color);
}

.Inori-UI-Library button:active{
background: var(--secondary-control-color);
}

.Inori-UI-Library .divider-container label{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom:4px;
}

.Inori-UI-Library .window-divider{
    border-color: var(--outline-color);
    margin-bottom: 4px;
}
.Inori-UI-Library .dropdown label, .Inori-UI-Library .dropdown button, .Inori-UI-Library .textbox-container label{
    display: inline-block;
    width:100%;
    text-align: left;
}

.Inori-UI-Library .dropdown label, .Inori-UI-Library .textbox-container label{
    margin-bottom: 2px;
}
.Inori-UI-Library .dropdown button:active{
    box-shadow: 0 0 0 1px var(--accent-color);
}

.Inori-UI-Library .custom-options{
    background: var(--secondary-control-color);
    border: 1px solid var(--outline-color);
    box-shadow: var(--control-box-shadow);
    padding: 2px 4px;
}

.Inori-UI-Library .custom-options div:hover{
    color: var(--accent-color);
}

.Inori-UI-Library .custom-options-hidden{
    display: none;;
}

.Inori-UI-Library .show{
    display: block;
}
